################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1. Without gateway/.vs/GloboTicket/v16/.suo
